.audioPlayer {
    width: 100%;
    height: 80px;
    background-color: #f6f6f8;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #e1e1e2;
    z-index: 99999999;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2px 10px;
    .music-img {
      width: 60px;
      height: 60px;
    }
    .audio-box {
      width: 60%;
      height: 100%;
      .audio-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        .audio-display-top{
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          span{
            margin-right: 5px;
          }
          .audio-display-title{
            height: 23px;
            font-size: 20px;
          }
        }
        .audio-display-bottom{
          width: 100%;
          .progress {
            height: 15px;
          width: 100%;
        }
        }
        
      }
    }
    .music-button {
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        li {
          cursor: pointer;
          width: 30px;
          height: 30px;
          background-color: #e83c3c;
          border-radius: 50%;
          margin-right: 10px;
          line-height: 28px;
          text-align: center;
          .icon {
            color: #fff;
            font-size: 15px;
          }
        }
      }
      .play-button {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        .icon {
          font-size: 20px;
        }
      }
    }
    .icon{
      font-size: 22px;
    }
  }